@font-face {
  font-family: 'fa';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fmain';
  src: url('../fonts/avo.eot');
  src: local('☺'), url('../fonts/avo.woff') format('woff'), url('../fonts/avo.ttf') format('truetype'), url('../fonts/avo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ab';
  src: url('../fonts/avobold.eot');
  src: local('☺'), url('../fonts/avobold.woff') format('woff'), url('../fonts/avobold.ttf') format('truetype'), url('../fonts/avobold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ic';
  src: url('../fonts/icielbcburfordrustic-light.eot');
  src: local('☺'), url('../fonts/icielbcburfordrustic-light.woff') format('woff'), url('../fonts/icielbcburfordrustic-light.ttf') format('truetype'), url('../fonts/icielbcburfordrustic-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rb';
  src: url('../fonts/ralewaybold.eot');
  src: local('☺'), url('../fonts/ralewaybold.woff') format('woff'), url('../fonts/ralewaybold.ttf') format('truetype'), url('../fonts/ralewaybold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}