.menu-mobile {
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background: #fffff2;
    text-align: center;
    @include transform(rotateX(45deg));
    @include transform-origin(0 0);
    @include transition($t);
    visibility: hidden;
    opacity: 0;

    &.is-active {
        visibility: visible;
        opacity: 1;
        @include transform(rotateX(0) translateY(0%));
        @include transition($t);
    }

    @include tablet {
        display: block;
    }

    .inner {
        overflow-y: scroll;
        position: relative;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        >ul {
            width: 100%;
            padding: 0;
            overflow: hidden;
            margin: 0;

            >li {
                list-style: none;
                padding: 0px;
                position: relative;
                text-align: left;
                @include transition(0.3s);

                &:first-child {
                    padding-top: 20px;
                }

                ul {
                    width: 100%;
                    padding: 0;
                    overflow: hidden;
                    margin: 0;
                    display: none;

                    li {
                        position: relative;
                        background: #fafafa;

                        a {
                            padding-left: 25px;
                            color: #a4a4a4;
                            @include text(16px, arial, 24px, $text-cl, none);

                            i {
                                right: 40px;
                            }
                        }

                        >ul {
                            padding: 0;

                            li {
                                a {
                                    padding-left: 60px;
                                }
                            }
                        }

                        &:focus,
                        &.active {
                            @include transition(0.3s);

                            >a {
                                i {
                                    @include transition(all 0.3s);
                                    @include transform(translateY(-50%) rotate(90deg));
                                }
                            }
                        }
                    }

                }

                a {
                    padding: 10px;
                    display: block;
                    @include text(16px, rb, 24px, $brown-cl, uppercase);
                    @include transition(0.3s);
                    border-bottom: 1px solid #ccc;
                    position: relative;

                    i {
                        font-size: 22px;
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        color: $brown-cl;
                        @include transition(0.3s);
                        @include transform(translateY(-50%) rotate(0deg));
                    }

                    &.active,
                    &:hover,
                    &:focus {
                        color: $brown-cl;
                        @include transition(0.3s);
                    }
                }

                ul {
                    li {
                        a {
                            i {
                                @include transform(translateY(-50%) rotate(0deg));
                            }
                        }
                    }
                }

                &:focus,
                &.active {
                    @include transition(0.3s);

                    >a {
                        color: $main-cl;
                        @include transition(all 0.3s);

                        i {
                            @include transition(all 0.3s);
                            @include transform(translateY(-50%) rotate(90deg));
                        }
                    }
                }
            }
        }
    }
}