.media {
	background: url(../img/leaf-media.png) no-repeat bottom left;

	.coconut-media {
		position: absolute;
		bottom: 100px;
		left: 30px;
	}

	.nav-left {
		width: 100%;
		height: auto;
		background: #fff;
		border-radius: 24px;
		overflow: hidden;
		border: 2px solid #fff;
		-webkit-box-shadow: 0px 0px 42px -8px rgba(0, 0, 0, 0.59);
		-moz-box-shadow: 0px 0px 42px -8px rgba(0, 0, 0, 0.59);
		box-shadow: 0px 0px 42px -8px rgba(0, 0, 0, 0.59);
		margin-top: 15px;
		position: relative;
		z-index: 100;

		.head {
			width: 100%;
			height: 60px;
			background: rgba(10, 81, 144, 1);
			background: -moz-linear-gradient(top, rgba(10, 81, 144, 1) 0%, rgba(0, 49, 92, 1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10, 81, 144, 1)), color-stop(100%, rgba(0, 49, 92, 1)));
			background: -webkit-linear-gradient(top, rgba(10, 81, 144, 1) 0%, rgba(0, 49, 92, 1) 100%);
			background: -o-linear-gradient(top, rgba(10, 81, 144, 1) 0%, rgba(0, 49, 92, 1) 100%);
			background: -ms-linear-gradient(top, rgba(10, 81, 144, 1) 0%, rgba(0, 49, 92, 1) 100%);
			background: linear-gradient(to bottom, rgba(10, 81, 144, 1) 0%, rgba(0, 49, 92, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a5190', endColorstr='#00315c', GradientType=0);
			padding: 15px 30px;
			display: flex;
			align-items: center;
			position: relative;
			@include text(24px, ic, 34px, $yellow2-cl, uppercase);
		}

		ul {
			width: 100%;
			padding: 0;
			margin: auto;

			li {
				width: 100%;
				height: 60px;
				list-style-type: none;
				@include transition($t);
				border-bottom: 1px solid #acacac;

				a {
					width: 100%;
					height: 100%;
					padding: 0 30px;
					display: flex;
					align-items: center;
					position: relative;
					@include text(14px, ab, 18px, $text-cl, none);
					@include transition($t);

					&:after {
						content: "\f04b";
						font-family: fa;
						color: $yellow2-cl;
						font-size: 12px;
						position: absolute;
						right: 20px;
						opacity: 0;
						@include transform(translateX(-10px));
						@include transition($t);
					}

					&:hover,
					&.active {
						color: #fff;
						background: $green-cl-dark;
						@include transition($t);

						&:after {
							opacity: 1;
							@include transform(translateX(0px));
							@include transition($t);
						}
					}
				}

				&:hover,
				&.active {
					background: $green-cl-dark;
					@include transition($t);

					a {
						color: #fff;
						@include transition($t);

						&:after {
							opacity: 1;
							@include transform(translateX(0px));
							@include transition($t);
						}
					}
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	.boxright {
		position: relative;
		z-index: 100;
		margin-top: 15px;
	}

	.list-tnxh {
		padding-left: 30px;

		.item {
			display: flex;
			margin-bottom: 25px;

			.icon {
				width: 110px;
				flex-shrink: 0;
			}

			.text {
				h4 {
					color: #77a900;
					margin-bottom: 10px;
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}

	.text_w_gl {
		padding: 15px 0;

		.title,
		a {
			@include text(14px, ab, 18px, $text-cl, uppercase);
			margin-bottom: 8px;
		}

		p {
			color: #797979;
		}
	}

	.text_w_detail {
		padding: 20px 0;

		.title {
			@include text(24px, ab, 32px, $green-cl-dark, uppercase);
			margin-bottom: 10px;
		}

		.datetime {
			@include text(14px, arial, 22px, #797979, none);
			font-style: italic;
		}
	}

	.gallery-media-top {
		>a {
			aspect-ratio: 4 / 2.8;
			display: flex;
			overflow: hidden;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(100%);
			-webkit-filter: brightness(100%);
			-moz-filter: brightness(100%);
			@include transition($t);
		}

		&:hover {
			a {
				img {
					filter: brightness(120%);
					-webkit-filter: brightness(120%);
					-moz-filter: brightness(120%);
					@include transition($t);
				}
			}
		}
	}

	.gallery-media {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -7px;

		.item {
			width: 33.3333%;
			padding: 7px;

			>a {
				aspect-ratio: 4 / 2.8;
				display: flex;
				overflow: hidden;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(100%);
				-webkit-filter: brightness(100%);
				-moz-filter: brightness(100%);
				@include transition($t);
			}

			&.hv {
				&:hover {
					img {
						filter: brightness(120%);
						-webkit-filter: brightness(120%);
						-moz-filter: brightness(120%);
						@include transition($t);
					}
				}
			}
		}
	}

	.slider-gallery {
		.slick-dots {
			bottom: 0;
		}

		.slick-prev,
		.slick-next {
			width: 50px;
			height: 50px;
			bottom: 20px;
			color: #fff;
			border: 0;
			background: $green-cl-dark;
			z-index: 1;
			outline: 0;
			position: absolute;
			text-indent: 0;
			font-size: 0;
			@include transition($t);

			&:before {
				font-family: fa;
				color: #fff;
				font-size: 24px;
				@include mid();
			}

			&.slick-prev {
				bottom: 0;
				right: 50px;
				border-right: 1px solid $green-cl-text;

				&:before {
					content: "\f104";
				}
			}

			&.slick-next {
				bottom: 0;
				right: 0;

				&:before {
					content: "\f105";
				}
			}

			&:hover {
				background: $green-cl-text;
				@include transition($t);
			}
		}
	}

	.content-gallery {
		border-bottom: 1px solid #797979;
		padding-bottom: 20px;
		margin-bottom: 30px;
	}

	.social {
		margin-bottom: 30px;
	}

	@include tablet {
		background-size: 50%;

		.nav-left {
			.head {
				font-size: 22px;
				line-height: 22px;
				padding: 0 15px;
			}

			ul {
				li {
					a {
						padding: 0 15px;

						&:after {
							right: 15px;
						}
					}
				}
			}
		}

		.list-tnxh {
			padding-left: 10px;
		}
	}

	@include mobile {
		background-size: 60%;

		.coconut-media {
			display: none;
		}

		.nav-left {
			width: 100%;
			max-width: 420px;
			margin: 15px auto 10px auto;

			.head {
				height: 50px;

				&:after {
					content: "\f0d7";
					font-family: fa;
					color: $yellow2-cl;
					font-size: 20px;
					position: absolute;
					right: 15px;
					@include transform(rotate(0));
					@include transition(0.15s);
				}

				&.is-show {
					&:after {
						@include transform(rotate(-180deg));
						@include transition(0.15s);
					}
				}
			}

			ul {
				display: none;

				li {
					height: 50px;

					a {
						padding: 0 15px;

						&:after {
							right: 15px;
						}
					}
				}
			}
		}

		.list-tnxh {
			padding-left: 0px;

			.item {
				.icon {
					width: 80px;
					padding-right: 20px;
				}
			}
		}

		.gallery-media {
			margin: 0 -5px;

			.item {
				width: 50%;
				padding: 5px;
			}
		}

		.slider-gallery {

			.slick-prev,
			.slick-next {
				width: 40px;
				height: 40px;

				&.slick-prev {
					right: 40px;
				}
			}
		}
	}
}